<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="DevExpress" value="https://nuget.devexpress.com/DYAhCe8PkKlcHEoahCLHElgSNxbxNaCoE8ACuLdQ4zAwn12fAR/api" />
	<add key="github" value="https://nuget.pkg.github.com/caretag/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="steve_techup" />
            <add key="ClearTextPassword" value="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" />
        </github>
  </packageSourceCredentials>  
</configuration>
